#jukebox {
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#jukebox .info {
    height: 50px;
    border: 2px solid purple;
    border-radius: 15px;
    overflow: hidden;
}
#jukebox .controls span {
    cursor: pointer;
    transition: color 0.5s;
}
#jukebox .controls span:hover {
    color: pink;
}
#jukebox .controls .seek input {
    width: 100%;
    color: black;
}